<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	//- meta(http-equiv="refresh" content="1")
	title Recargar Navegador
	link(rel="stylesheet", href="css/style.css")
body
	h1 Hello I'm Amzing
	p Hello 

	script(src="js/app.js")

	